{
  "api": {
    "host": "127.0.0.1",
    "port": 9826
  },
  "nodes": [
    {
      "name": "kda",
      "domain": 100,
      "retry": 3,
      "timeout": 5,
      "urls": {
        "lan": [
          "1.1.1.1",
          "2.2.2.2"
        ],
        "wan": [
          "1.1.1.1",
          "2.2.2.2"
        ]
      }
    }
  ]
}