{
  "api": {
    "host": "127.0.0.1",
    "port": 9826
  },
  "nodes": [
    {
      "name": "kda",
      "domain": 100,
      "urls": {
        "lan": [
          "47.101.48.191"
        ],
        "wan": [
          "54.95.228.181",
          "52.199.102.11",
          "13.212.166.153",
          "15.222.24.176",
          "3.123.189.173"
        ]
      }
    }
  ]
}